# purescript & node.js
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/.psc*
/.psa*


# stylus
window.css

# emacs temp
/#*#
*~
.#*


# 
/*.jar
idea
*.po
/*.json
/package/
/resources/
/temp/