
$font-color = #181416

body
  color: $font-color

$focus-content-color = #fcfbfa
$content-border-color = #e7e4e3
$dragover-border-color = #efe4d3
$dragover-bg-color = #f2fbea
$paddle-color = #dcdcdc
$hover-tab-color = #f2fbea
$tab-color = #cccbca
$paddle-color = $tab-color


div
  &.content
    display: none
  &.focus
    background: $focus-content-color
    display: block
  &.search-bar
    background: #121214
    position: fixed
    width: 98%
    bottom: 0
    input
      width: 100%

div
  &.droparea
    padding: 2em
    border: solid 2px $content-border-color
    border-radius: 1em
  &.dragover
    border-color: $dragover-border-color
    background: $dragover-bg-color
  &.browser
      display: flex
      flex-flow: row nowrap
      align-items: stretch
  &.raw-json
    overflow: auto
    min-height: 30px
  &.json-info
    span
      padding: 1px 3px
      display: inline-block

  
div
  &.hide
    width: 1px
  &.search-tips
    border-radius: 2px/5px 2px/5px 0 0
  &.info, &.raw
    overflow: auto
  &.horizontal
    height: 7px

.paddle
  display: inline-block 
  background: $paddle-color
  position: absolute
.paddle-x
  height: 100%
  min-height: 1px
  width: 2px
  float: right
  right: 0
  cursor: col-resize
.paddle-y
  height: 2px
  width: 100%
  min-width: 1px
  bottom: 0
  cursor: row-resize
.expand
  position: relative
  overflow: hidden
.expand-w
  min-width: 20px
  height: auto
div
  width: 100%   // ← これと
.expand-w-tail
  min-width: 0  // ← これ、めっちゃ大事
  display: flex
  flex-flow: column nowrap
.eow-operation
  display: table-row-group
.expand-h
  min-height: 30px
  overflow-y: auto

ul
  display: inline-block
  padding: 0   

li
  list-style-type: none
  font-family: monospace
  white-space: nowrap
  span
    padding: 0 6px
  a
    &:hover
      color: #34347c
      text-decoration: underline
  

div.tabLine
  margin: 0 0 0 1em
  a
    white-space: nowrap
    display: inline-block
    &.tab
      line-height: 1.2em
      padding: 0 2px
      border: solid 1px $content-border-color
      border-bottom: 0
      border-radius: 6px 6px 0 0
      background: $tab-color
      &:hover
        background: $hover-tab-color
    &.current
      background: $focus-content-color
