
$fr-color = #232b1d
$bg-color = #181416
$font-color = #fcfbfa

html
  max-height: 100vh
  min-height: 100vh
  background: $fr-color
body
  color: $font-color
  font-family: serif

$focus-content-color = $bg-color
$content-border-color = #e7e4e3
$dragover-border-color = #efe4d3
$dragover-bg-color = #f2fbea
$paddle-color = #dcdcdc
$hover-tab-color = #f2fbea
$tab-color = #cccbca
$paddle-color = $tab-color


div
  &.content
    display: none
  &.focus
    background: $focus-content-color
    display: block
  &.search-area
    position: fixed
    width: 98%
    bottom: 0
  &.search-bar
    width: 100%
    input
      width: 100%

div
  &.droparea
    padding: 2em
    border: solid 2px $content-border-color
    border-radius: 1em
  &.dragover
    border-color: $dragover-border-color
    background: $dragover-bg-color
  &.browser
      display: flex
      flex-flow: row nowrap
      align-items: stretch
      max-height: 100vh
      min-height: 100vh
  &.raw-json
    overflow: auto
    min-height: 30px
    flex: 1
  &.json-info
    font-size: 16px // 黒背景に白文字なので気持ち大きめ
    span
      padding: 1px 3px
      display: inline-block
    p
      font-size: 82%

  
div
  &.hide
    width: 1px
  &.search-tips
    border-radius: 2px/5px 2px/5px 0 0
  &.info, &.raw
    overflow: auto
  &.horizontal
    height: 7px

.paddle
  display: inline-block 
  background: $paddle-color
  position: absolute
.paddle-x
  height: 100%
  min-height: 1px
  width: 2px
  float: right
  right: 0
  cursor: col-resize
.paddle-y
  height: 2px
  width: 100%
  min-width: 1px
  bottom: 0
  cursor: row-resize
.expand
  position: relative
  overflow: hidden
.expand-w
  min-width: 20px
  height: auto
  overflow-y: auto
div
  width: 100%   // ← これと
.expand-w-tail
  min-width: 0  // ← これ、めっちゃ大事
  display: flex
  flex: 1
  flex-flow: column nowrap
.eow-operation
  display: table-row-group
.expand-h
  min-height: 30px
  overflow-y: auto

ul
  display: inline-block
  padding: 0
  margin: 8px 0 42px

li
  list-style-type: none
  font-family: monospace
  white-space: nowrap
  span
    padding: 0 6px
  a
    &:hover
      text-decoration: underline


.info-modname
  font-size: small

.blue
  color: #5d55fc
.black
  color: #2b2b2b
  &:hover
    color: #636363
.brown
  color: #bb4b35
.cyan 
  color: #08e7d1
.dark_gray, .dkgray
  color: #7b7b74
.green
  color: #04b404
.light_blue, .ltblue
  color: #809bff
.light_cyan
  color: #a3fff4
.light_gray, .ltgray
  color: #cccccc
.light_green, .ltgreen
  color: #8ced8c
.light_red, .ltred
  color: #fd8b8b
.magenta
  color: #ec09ec
.pink
  color: #ff80f0
.red
  color: #fb1818
.yellow
  color: #fcfc3b
  
div.tabLine
  margin: 0 0 0 1em
  a
    white-space: nowrap
    display: inline-block
    &.tab
      line-height: 1.2em
      padding: 0 2px
      border: solid 1px $content-border-color
      border-bottom: 0
      border-radius: 6px 6px 0 0
      background: $tab-color
      &:hover
        background: $hover-tab-color
    &.current
      background: $focus-content-color
